.header {
    background: #9AC5F4;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
    width: 100%;
    transition: top 0.3s;
    top: 0;
}

.header.hidden {
    top: -10vh;
  }

.header-logo {
    display: flex;
    align-items: center;
    color: #444444;
    font-family: 'Satisfy', cursive;
    font-size: 24px;
}

.image {
    margin: 0 10px 0 40px;
    height: 10vh;
}

.navbar {
    display: flex;
    list-style: none;
    margin-right: 100px;

}

.navbar-item {
    margin: 0 25px;
    font-size: 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: underline;
}