.header {
    background: #9AC5F4;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    color: #444444;
    font-family: 'Satisfy', cursive;
    font-size: 24px;
}

.image {
    margin: 0 10px 0 40px;
    height: 120px;
}

.navbar {
    display: flex;
    list-style: none;
    margin-right: 100px;
    background-color: #6db3ff;
    padding: 25px;
    border-radius: 60px;
}

.navbar-item {
    margin: 0 25px;
    font-size: large;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: underline;
}