.slider {
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .image {
    width: 60vw;
    box-shadow: 0 0 50px 10px #5c5c5c9a;
  }
  
  .right-arrow {
    transform: translateX(-20px);
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {

    transform: translateX(20px);
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 2s ease;
  }
  
  .slide.active {

    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }