.pigeons {
    background: #99DBF5a6;
    box-shadow: 0 0 50px 7px #868181af;
    height: 100vh;
}

.title-container {
    box-shadow: 0 0 10px 10px rgba(128, 128, 128, 0.274);

    display: flex;
    justify-content: center;
    align-items: center;
}


.images {
    display: flex;
    align-items: center;
    height: 100vh;
}

.images-description {
    display: flex;
    justify-content: right;
    width: 50vw;
    backdrop-filter: blur(7px);
    padding: 60px;
    height: max-content;
    margin: auto 0;
    animation: fadeInDescription ease 1s;
    z-index: 1;
}