.pigeons {
  height: 100vh;
}

.title-container {
  box-shadow: 0 0 10px 10px rgba(128, 128, 128, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.images-container {
  background-color: rgba(152, 155, 161, 0.233);
  box-shadow: 0 0 10px 10px rgba(128, 128, 128, 0.274);
  border-radius: 10px;
  backdrop-filter: blur(7px);
  padding: 60px;
  width: 600px;
  margin-right: 50px;
  margin-left: 0px;
  animation: fadeInDescription ease 1s;
  z-index: 1;
}

.title {
  font-size: 32px;
}

.description {
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
    height: max-content;
  }

  .images-container {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    padding: 30px;
  }

  .description,
  .title {
    margin: 20px auto;
    width: 90%;
  }

}